@model IEnumerable<AviaSales.Models.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select Planes.Name as 'PLane name', FlightNumber, SUM(TicketFoods.Quantity) as 'Quantity' from Planes
left join Flights on Flights.PlaneId = Planes.PlaneId
left join Tickets on Tickets.PlaneId = Planes.PlaneId
left join TicketFoods on TicketFoods.TicketId = Tickets.TicketId
left join Foods on Foods.FoodId = TicketFoods.FoodId
group by Planes.Name, FlightNumber" asp-controller="Home">Запит на отримання літаків, де буде виведено назву літака, номер рейсу та кількість їжі, що замовили користвачі</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
