@model IEnumerable<AviaSales.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select FlightNumber, DepartureDate, PLanes.Name as 'Plane name', COUNT(Tickets.TicketId) as 'Count of tickets in plane' from Flights
left join Planes on Planes.PlaneId = Flights.PlaneId
left join Tickets on Tickets.PlaneId = Planes.PlaneId
group by FlightNumber, DepartureDate, PLanes.Name" asp-controller="Home">Запит на отримання рейсів (номер рейсу, дата вильоту, назва літаку, кількість зареєстрованих квитків даного рейсу)</a>
</div>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select FlightNumber, Classes.Name as 'Class name', COUNT(Tickets.TicketId) as 'Count of tickets' from Flights
left join PLanes on Planes.PlaneId = Flights.PlaneId
left join Tickets on Tickets.PlaneId = PLanes.PlaneId
join Classes on Classes.ClassId = Tickets.ClassId
group by FlightNumber, Classes.Name order by FlightNumber DESC" asp-controller="Home">Запит на отримання рейсів, де буде виведено номер рейсу, дату вильоту, класи даного рейсу, які були куплені, кількість куплених квитків даного класу</a>
</div>

<div class="form-group">
    <button class="btn btn-primary" onclick="createPDF('Flights')">Print flights</button>
</div>

<div id="print">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureAirport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalAirport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plane)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualDeparture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualArrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th class="createPdfBlock"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureAirport.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalAirport.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plane.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualDeparture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualArrival)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td class="createPdfBlock">
                        <a asp-action="Edit" asp-route-id="@item.FlightId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FlightId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FlightId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>