@model IEnumerable<AviaSales.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Flights</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Flight number</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.FlightNumber" name="flightNumber" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Plane name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.PlaneName" name="planeName" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Cost from</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.CostFrom" name="costFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Cost to</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.CostTo" name="costTo" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Departure date from</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.DepartureDateFrom.ToString("yyyy-MM-dd")" name="departureDateFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Departure date to</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.DepartureDateTo.ToString("yyyy-MM-dd")" name="departureDateTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select FlightNumber, DepartureDate, PLanes.Name as 'Plane name', COUNT(Tickets.TicketId) as 'Count of tickets in plane' from Flights
left join Planes on Planes.PlaneId = Flights.PlaneId
left join Tickets on Tickets.FlightId = Flights.FlightId
Where Tickets.UserId is Null
group by FlightNumber, DepartureDate, PLanes.Name" asp-controller="Home">Запит на отримання рейсів (номер рейсу, дата вильоту, назва літаку, кількість квитків які залишились для продажу)</a>
</div>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select FlightNumber, Classes.Name as 'Class name', COUNT(Tickets.TicketId) as 'Count of tickets' from Flights
left join PLanes on Planes.PlaneId = Flights.PlaneId
left join Tickets on Tickets.FlightId = Flights.FlightId
join Classes on Classes.ClassId = Tickets.ClassId
Where Tickets.UserId is not null
group by FlightNumber, Classes.Name order by FlightNumber DESC" asp-controller="Home">Запит на отримання рейсів, де буде виведено номер рейсу, дату вильоту, класи даного рейсу, які були куплені, кількість куплених квитків даного класу</a>
</div>

<div class="form-group">
    <button class="btn btn-primary" onclick="createPDF('Flights')">Print flights</button>
</div>

<div id="print">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureAirport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalAirport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plane)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualDeparture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualArrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th class="createPdfBlock"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureAirport.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalAirport.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plane.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualDeparture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualArrival)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td class="createPdfBlock">
                        <a asp-action="Edit" asp-route-id="@item.FlightId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FlightId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FlightId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>