@model IEnumerable<AviaSales.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Seat number</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.SeatNumber" name="seatNumber" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">User email</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.UserEmail" name="userEmail" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Flight number</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.FlightNumber" name="flightNumber" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Class name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.ClassName" name="className" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Plane name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.PlaneName" name="planeName" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Purchase date from</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.DateFrom.ToString("yyyy-MM-dd")" name="dateFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Purchase date to</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.DateTo.ToString("yyyy-MM-dd")" name="dateTo" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                Plane name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Plane.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
