@model IEnumerable<AviaSales.Models.TicketFood>

@{
    ViewData["Title"] = "Index";
}

<h1>Ticket Foods</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketFoodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketFoodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketFoodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
