@model IEnumerable<AviaSales.Models.Airport>

@{
    ViewData["Title"] = "Index";
}

<h1>Airports</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Airport name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Name" name="name" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Airport city</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.City" name="city" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Postcode to</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Postcode" name="postcode" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select Airports.Name, CONCAT(Airports.State, ' ', Airports.City, ' ', Airports.Address, ' ', Airports.Postcode) as Address, COUNT(Airports.AirportId) as 'Count of departures today' from Airports
left join Flights on Flights.DepartureAirportId = Airports.AirportId
where Flights.DepartureDate BETWEEN (convert(varchar, getdate(), 23) + ' 00:00:00') AND (convert(varchar, getdate(), 23) + ' 23:59:59')
group by Airports.Name, Airports.State, Airports.City, Airports.Address, Airports.Postcode" asp-controller="Home">Запит на отримання аеропортів, у яких є відправлення сьогодні, в результаті буде виведено назва аеропорту, адресу аеропорту та кількість вильотів сьогодні</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AirportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AirportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AirportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
